.widgetcard-body {
    position: relative;
    width: 25%;
    height:80%;
    border-radius: 30px;
    background: rgb(30, 42, 62);
    background: linear-gradient(
      75deg,
      rgb(70, 40, 110) 0%,
      rgba(231, 136, 136, 0) 100%
    );
    padding: 1% 3%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 2px;
  }
  
  .widgetcard-body:hover {
    transform: scale(1.05);
  }
  
  .widget-title {
    font-size: 15px;
    font-weight: 800;
    color: #c4d0e3;
  }
  
  .widget-fade {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 84%;
    height: 34%;
    border-radius: 30px;
    background: linear-gradient(
      180deg,
      rgba(204, 14, 119, 0) 10%,
      rgba(191, 20, 180, 0.308) 100%
    );
    opacity: 0;
    transition: 0.5s ease-in-out;
    animation: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 8%;
  }
  
  .widgetcard-body:hover .widget-fade {
    opacity: 1;
  }